
.Feature--list
	cf()
	text-align: center

	display: flex
	flex-direction column
	+above(4)
		flex-direction row

.Feature

	responsive-color()
	text-align: center
	+above(4)
		col(1/3)

	card()
	background-color: #f5f5f5;


	&:nth-of-type(1)
		background-color  $color-feature-1
		.Feature--icon
			color: darken($color-feature-1,20%)
		.Feature--more
			color: darken($color-feature-1,40%)

	&:nth-of-type(2)
		background-color $color-feature-2
		.Feature--icon
			color: darken($color-feature-2,20%)
		.Feature--more
			color: darken($color-feature-2,40%)
	&:nth-of-type(3)
		background-color  $color-feature-3

		.Feature--icon
			color: darken($color-feature-3,20%)
		.Feature--more
			color: darken($color-feature-3,40%)



	.Feature--icon
		font-size: 300%



	.Feature--title
		margin-bottom: .5em


		font-size: 1.2em
		text-transform: uppercase
		color:rgba(black,.54)

		fontHighlight()
		font-weight: 900
	.Feature--desc
		margin: .5em 0 2em 0
	.Feature--more
		outline 1px solid rgba(black,0.12)
		border none
		padding .5em 1em
		font-size: .8em
		font-weight: bold
		color white;
		text-transform: uppercase
		margin-top: 2em


.Feature__single
	padding: 8em 0

	//border-top:1px solid rgba(black, 0.09);

	stack()
	cf()
	.Feature__single--textwrap

		.Feature__single--title
			fontHighlight()


		.Feature__single--desc
			card()
			color rgba(black,.87)!important
			+above(6)
				max-width 70%


	.Feature__single--textwrap,.Feature__single--img
		stack()
		+above(3)
			col(1/2)

	.Feature__single--img
		card()
		img
			max-width: 100%



	&:nth-of-type(2)

		.Feature__single--title
			float: right
			color: darken($color-feature-1,30%)
		.Feature__single--textwrap
			shift(1/2)
		.Feature__single--img
			shift(-1/2)
		.Feature__single--desc
			background-color: $color-feature-1
			float: right

	&:nth-of-type(3)
		//background-color: #f5f5f5
		.Feature__single--title
			color:darken($color-feature-2,50%)
		.Feature__single--desc
			background-color: $color-feature-2
			responsive-color()
	&:nth-of-type(4)
		//background-color: #333
		.Feature__single--title
			float: right
			color:darken($color-feature-3,40%)
		.Feature__single--textwrap
			shift(1/2)
		.Feature__single--img
			shift(-1/2)
		.Feature__single--desc
			float: right
			background-color: $color-feature-3
			responsive-color()



