.thin {
  font-weight: 100;
}
.Animation.Cascade.in > div {
  -webkit-animation: cascade 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  -moz-animation: cascade 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  -o-animation: cascade 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  -ms-animation: cascade 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  animation: cascade 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
.Animation.Cascade > div {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -o-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  will-change: opacity, transform;
}
.Animation.Cascade > div:nth-child(1) {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.Animation.Cascade > div:nth-child(2) {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  -ms-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.Animation.Cascade > div:nth-child(3) {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -ms-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.Animation.Cascade > div:nth-child(4) {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
  -ms-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.Animation.Cascade > div:nth-child(5) {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  -ms-animation-delay: 1s;
  animation-delay: 1s;
}
.Animation.Fadeup {
  will-change: opacity, transform;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;
  -ms-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation: cascade 4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  -moz-animation: cascade 4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  -o-animation: cascade 4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  -ms-animation: cascade 4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  animation: cascade 4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
@-moz-keyframes cascade {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }
  20% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes cascade {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }
  20% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-o-keyframes cascade {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }
  20% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes cascade {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }
  20% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
.Feature--list {
  *zoom: 1;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.Feature--list:before,
.Feature--list:after {
  content: '';
  display: table;
}
.Feature--list:after {
  clear: both;
}
@media only screen and (min-width: 800px) {
  .Feature--list {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
.Feature {
  color: rgba(0,0,0,0.87);
  text-align: center;
  padding: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: rgba(0,0,0,0.098) 0px 2px 4px, rgba(0,0,0,0.098) 0px 0px 3px;
  box-shadow: rgba(0,0,0,0.098) 0px 2px 4px, rgba(0,0,0,0.098) 0px 0px 3px;
  background-color: #f5f5f5;
}
@media only screen and (min-width: 800px) {
  .Feature {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 31.3333333333333%;
    margin-left: 0%;
    margin-right: 3%;
  }
  .Feature:before,
  .Feature:after {
    content: '';
    display: table;
  }
  .Feature:after {
    clear: both;
  }
  .Feature:last-child {
    margin-right: 0%;
  }
}
.Feature:nth-of-type(1) {
  background-color: #f0b4b4;
}
.Feature:nth-of-type(1) .Feature--icon {
  color: #e26e6e;
}
.Feature:nth-of-type(1) .Feature--more {
  color: #d22a2a;
}
.Feature:nth-of-type(2) {
  background-color: #f8efe0;
}
.Feature:nth-of-type(2) .Feature--icon {
  color: #e7c793;
}
.Feature:nth-of-type(2) .Feature--more {
  color: #d5a046;
}
.Feature:nth-of-type(3) {
  background-color: #c4e7ed;
}
.Feature:nth-of-type(3) .Feature--icon {
  color: #82ccd9;
}
.Feature:nth-of-type(3) .Feature--more {
  color: #3fb1c5;
}
.Feature .Feature--icon {
  font-size: 300%;
}
.Feature .Feature--title {
  margin-bottom: 0.5em;
  font-size: 1.2em;
  text-transform: uppercase;
  color: rgba(0,0,0,0.54);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding-bottom: 1em;
  font-weight: 900;
}
.Feature .Feature--desc {
  margin: 0.5em 0 2em 0;
}
.Feature .Feature--more {
  outline: 1px solid rgba(0,0,0,0.12);
  border: none;
  padding: 0.5em 1em;
  font-size: 0.8em;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  margin-top: 2em;
}
.Feature__single {
  padding: 8em 0;
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
}
.Feature__single:first-child {
  margin-left: auto;
}
.Feature__single:last-child {
  margin-right: auto;
}
.Feature__single:before,
.Feature__single:after {
  content: '';
  display: table;
}
.Feature__single:after {
  clear: both;
}
.Feature__single .Feature__single--textwrap .Feature__single--title {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding-bottom: 1em;
}
.Feature__single .Feature__single--textwrap .Feature__single--desc {
  padding: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: rgba(0,0,0,0.098) 0px 2px 4px, rgba(0,0,0,0.098) 0px 0px 3px;
  box-shadow: rgba(0,0,0,0.098) 0px 2px 4px, rgba(0,0,0,0.098) 0px 0px 3px;
  color: rgba(0,0,0,0.87) !important;
}
@media only screen and (min-width: 1800px) {
  .Feature__single .Feature__single--textwrap .Feature__single--desc {
    max-width: 70%;
  }
}
.Feature__single .Feature__single--textwrap,
.Feature__single .Feature__single--img {
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.Feature__single .Feature__single--textwrap:first-child,
.Feature__single .Feature__single--img:first-child {
  margin-left: auto;
}
.Feature__single .Feature__single--textwrap:last-child,
.Feature__single .Feature__single--img:last-child {
  margin-right: auto;
}
@media only screen and (min-width: 600px) {
  .Feature__single .Feature__single--textwrap,
  .Feature__single .Feature__single--img {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%;
  }
  .Feature__single .Feature__single--textwrap:before,
  .Feature__single .Feature__single--img:before,
  .Feature__single .Feature__single--textwrap:after,
  .Feature__single .Feature__single--img:after {
    content: '';
    display: table;
  }
  .Feature__single .Feature__single--textwrap:after,
  .Feature__single .Feature__single--img:after {
    clear: both;
  }
  .Feature__single .Feature__single--textwrap:last-child,
  .Feature__single .Feature__single--img:last-child {
    margin-right: 0%;
  }
}
.Feature__single .Feature__single--img {
  padding: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: rgba(0,0,0,0.098) 0px 2px 4px, rgba(0,0,0,0.098) 0px 0px 3px;
  box-shadow: rgba(0,0,0,0.098) 0px 2px 4px, rgba(0,0,0,0.098) 0px 0px 3px;
}
.Feature__single .Feature__single--img img {
  max-width: 100%;
}
.Feature__single:nth-of-type(2) .Feature__single--title {
  float: right;
  color: #db4b4b;
}
.Feature__single:nth-of-type(2) .Feature__single--textwrap {
  position: relative;
  left: 51.5%;
}
.Feature__single:nth-of-type(2) .Feature__single--img {
  position: relative;
  left: -51.5%;
}
.Feature__single:nth-of-type(2) .Feature__single--desc {
  background-color: #f0b4b4;
  float: right;
}
.Feature__single:nth-of-type(3) .Feature__single--title {
  color: #c1892b;
}
.Feature__single:nth-of-type(3) .Feature__single--desc {
  background-color: #f8efe0;
  color: rgba(0,0,0,0.87);
}
.Feature__single:nth-of-type(4) .Feature__single--title {
  float: right;
  color: #3fb1c5;
}
.Feature__single:nth-of-type(4) .Feature__single--textwrap {
  position: relative;
  left: 51.5%;
}
.Feature__single:nth-of-type(4) .Feature__single--img {
  position: relative;
  left: -51.5%;
}
.Feature__single:nth-of-type(4) .Feature__single--desc {
  float: right;
  background-color: #c4e7ed;
  color: rgba(0,0,0,0.87);
}
* {
  -webkit-tap-highlight-color: transparent;
}
body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  color: rgba(0,0,0,0.87);
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
html a {
  color: inherit;
  text-decoration: none;
}
.content {
  padding: 0 1em;
  width: 1024px;
  max-width: 1024px;
  margin: 0 auto;
}
@media only screen and (min-width: 600px) {
  .content {
    padding: 0 2em;
  }
}
@media only screen and (min-width: 800px) {
  .content {
    padding: 0 4em;
  }
}
@media only screen and (min-width: 1050px) {
  .content {
    padding: 0 10em;
  }
}
@media only screen and (min-width: 1800px) {
  .content {
    padding: 0 20em;
  }
}
footer[role=main] {
  padding: 1em 0;
  background-color: #222;
  font-size: 0.8em;
  color: #666;
}
.Navigation--wrap {
  color: rgba(0,0,0,0.87);
  padding: 1em 0;
  margin-bottom: 4em;
}
.Navigation--wrap .Navigation {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -o-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center;
  text-align: right;
}
.Navigation--wrap .Navigation .Navigation--brand {
  -webkit-align-self: center;
  align-self: center;
  -ms-flex-item-align: center;
  font-size: 1.5em;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding-bottom: 1em;
  font-weight: 900;
  text-transform: uppercase;
  color: rgba(0,0,0,0.57);
  padding-bottom: 0;
}
.Navigation--wrap .Navigation a {
  display: block;
  padding: 1em 4em;
}
.Navigation--wrap .Navigation a.active {
  font-weight: 900;
  color: #60bfcf;
}
.Slider {
  text-align: center;
  padding-bottom: 8em;
}
.Slider h1 {
  font-size: 2.5em;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(0,0,0,0.12);
  margin-bottom: 1em;
}
.Slider img {
  max-width: 100%;
}
.Section--title {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.6em;
  font-weight: 900;
  color: rgba(0,0,0,0.57);
  padding-bottom: 2em;
}
#about {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}
#about--images {
  padding: 2em 0;
}
#about--images img {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.3333333333333%;
  margin-left: 0%;
  margin-right: 3%;
}
#about--images img:before,
#about--images img:after {
  content: '';
  display: table;
}
#about--images img:after {
  clear: both;
}
#about--images img:last-child {
  margin-right: 0%;
}
#contact form {
  text-align: center;
  margin-bottom: 4em;
}
#contact form label {
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.88em;
  color: rgba(0,0,0,0.87);
}
#contact form label:first-child {
  margin-left: auto;
}
#contact form label:last-child {
  margin-right: auto;
}
#contact form input,
#contact form textarea {
  margin-top: 0.5em;
  margin-bottom: 1em;
  width: 60%;
  padding: 0.25em 0.5em;
  outline: none;
  border: 1px solid rgba(0,0,0,0.12);
  padding: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: rgba(0,0,0,0.098) 0px 2px 4px, rgba(0,0,0,0.098) 0px 0px 3px;
  box-shadow: rgba(0,0,0,0.098) 0px 2px 4px, rgba(0,0,0,0.098) 0px 0px 3px;
}
#contact form button {
  background-color: #c4e7ed;
  outline: none;
  border: 1px solid rgba(0,0,0,0.12);
  font-weight: 900;
  font-size: 0.88em;
  padding: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: rgba(0,0,0,0.098) 0px 2px 4px, rgba(0,0,0,0.098) 0px 0px 3px;
  box-shadow: rgba(0,0,0,0.098) 0px 2px 4px, rgba(0,0,0,0.098) 0px 0px 3px;
}
html {
  height: 100%;
}
body {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  min-height: 100%;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
main {
  height: 100%;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
