@import "import";
@import "Feature";






*
	-webkit-tap-highlight-color transparent

body
	background-color: white;
	font-family: $font-default
	responsive-color()


h1,h2,h3,h4,h5,p
	margin: 0

html  a
	color: inherit
	text-decoration: none

 
.content 
	padding: 0 1em
	width 1024px
	max-width: 1024px

	+above(3)
		padding: 0 2em
	+above(4)
		padding: 0 4em
	+above(5)
		padding: 0 10em
	+above(6)
		padding: 0 20em
	margin: 0 auto;



footer[role=main]
	padding: 1em 0
	background-color: #222;
	font-size: .8em
	color:#666


.Navigation--wrap
	//background-color: #C2CBCE
	//background-image url(../images/bg.png)
	//background-size: contain;
	responsive-color()
	//border-bottom 1px solid rgba(black,0.09)
	padding: 1em 0
	margin-bottom: 4em

	.Navigation
		display: flex
		justify-content flex-end
		align-content center
		text-align: right



		.Navigation--brand
			align-self center

			font-size: 1.5em
			flex-grow 1
			text-align: left
			fontHighlight()
			font-weight: 900
			text-transform: uppercase
			color:rgba(black,.57)
			padding-bottom: 0
		a
			display: block
			padding: 1em 4em

			&.active
				font-weight: 900
				color: darken($color-feature-3, 30%)
			//width: 100%


.Slider
	text-align: center
	padding-bottom: 8em
	h1
		font-size: 2.5em
		fontHighlight()
		border-bottom: 1px solid rgba(black, .12)
		margin-bottom: 1em
	img
		max-width: 100%


.Section--title
	text-align: center
	text-transform: uppercase
	font-size: 1.6em
	font-weight: 900
	color:rgba(black,.57)
	padding-bottom: 2em

#about
	column-count 2
#about--images
	padding: 2em 0
	img
		col(1/3)

#contact
	form
		text-align: center
		margin-bottom: 4em
		label
			stack()
			text-transform: uppercase
			font-weight: 900
			font-size: .88em
			color:rgba(black,.87)
		input, textarea
			margin-top: .5em
			margin-bottom: 1em
			width: 60%
			padding: .25em .5em
			outline none
			border 1px solid rgba(black,.12)
			card()

		button
			background-color: $color-feature-3
			outline none
			border 1px solid rgba(black,.12)
			font-weight: 900
			font-size: .88em
			card()


html
	height: 100%
body
	display: flex
	min-height: 100%
	flex-direction column
main
	height: 100%
	flex-grow 1