

responsive-color()
	if @background-color && dark(@background-color)
		color white
	else
		color rgba(#000000,.87)


card()
	padding 1em
	box-sizing border-box
	box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px, rgba(0, 0, 0, 0.0980392) 0px 0px 3px;


fontHighlight()
	font-family: $font-highlight
	font-weight: 400
	padding-bottom: 1em


.thin
	font-weight: 100

