extend _layout

block body
   .Section
      .content
         h1.Section--title Über Uns
         p#about.
            Unser Team besteht aus drei Studenten der RWTH Aachen. Seit einigen Jahren entwickeln wir Software für Unternehmen aus verschiedensten Branchen. Doch um unseren Horizont zu erweitern, sind wir neben der freiberuflichen Softwareentwicklung auch permanent auf der Suche nach innovativen Ideen, um diese gemeinsam umzusetzen.
            Dabei steht im Mittelpunkt, möglichst vielen Menschen eine Freude mit dem Ergebnis unserer Arbeit zu bereiten.
            Simon ist der App-Entwickler des Teams, er programmiert Software, die von tausenden Nutzern auf ihr iPhone bzw. Android Smartphone heruntergeladen wird.
            Denis hat sich während seines bisherigen Studiums auf Netzwerke und Datenbanken spezialisiert. Für die jeweiligen Projekte implementiert er effiziente und sichere Infrastrukturen.
            Alex ist der kreative Designer des Teams mit einem Sinn für benutzerfreundliche Systeme

         div#about--images
            img(src="images/alex.jpg")
            img(src="images/denis.jpg")
            img(src="images/simon.jpg")

