extend _layout

block body
    .Section#contact
        .content
            h1.Section--title Kontakt

            form(method="post" action="/contact")
                div
                    label(for="name") Ihr Name
                    input(type="text" name="name" placeholder="Name" required="")
                div
                    label(for="email") Ihre Email
                    input(type="email" name="email" placeholder="Email" required="")
                div
                    label(for="message") Ihre Nachricht
                    textarea(name="message" rows="4" required="")
                div
                    button(type=submit) Senden