extend _layout

block title
   title Ladies In Black | brandthemes

block footerScripts
   script(src="bower_components/angular/angular.js")
   script(src="scripts/app.js")

block body

   section.Slider
      .content
         h1.Animation.Fadeup Der neue Browser-Style für die LiB Fans!
         img(src="images/slider1.png")

   .content
      section.Feature--list.Animation.Cascade
         .Feature
            i.fa.fa-heart.Feature--icon
            h3.Feature--title Vereinsliebe
            p.Feature--desc Bieten sie ihren Fans die Möglichkeit sich auch während des Surfens im Internet mit ihrem Lieblingsverein zu identifizieren.
            a(href="/#vereinsliebe", cc-scroll="").Feature--more mehr

         .Feature
            i.fa.fa-comments-o.Feature--icon
            h3.Feature--title  Kommunikation
            p.Feature--desc Informieren sie Nutzer über aktuelle Spiele, Liveticker und besondere Aktionen.
            a(href="/#kommunikation" cc-scroll="").Feature--more mehr

         .Feature
            i.fa.fa-mobile.Feature--icon
            h3.Feature--title  Alle Platformen
            p.Feature--desc Erreichen sie ihre Fans in Echtzeit auf allen Endgeräten, ob Smartphone, PC oder Tablet.
            a(href="/#platform" cc-scroll="").Feature--more mehr


   section.Feature__single#vereinsliebe
      .content
         .Feature__single--textwrap
            h2.Feature__single--title Fans wollen ihre Vereinsliebe zeigen!
            p.Feature__single--desc Mit unseren Browser-Erweiterungen wird das Aussehen trister Browser wie Firefox, Google Chrome oder der Internet Explorer an den LiB-Style angepasst. Nach einer simplen One-Click Installation ändern sich die Browser Farben zu den LiB Vereinsfarben Gold und Schwarz.
         .Feature__single--img
            img(src="images/feature_1.png")

   section.Feature__single#kommunikation
      .content
         .Feature__single--textwrap
            h2.Feature__single--title Kommunizieren sie mit den LiB Fans!
            p.Feature__single--desc Neben dem veränderten Aussehen des Browsers wird auch eine Kommunikationsweg zwischen ihnen und ihren Fans eingerichtet. Sie erhalten von uns einen Zugang zu einer Webseite, auf der sie Nachrichten an alle Fans versenden können.Ob sie ihre Fans über den momentanen Spielstand oder über ein baldiges Spiel informieren wollen, hier sind ihnen keine Grenzen gesetzt.
         .Feature__single--img
            img(src="images/feature_2.png")
   section.Feature__single#platform
      .content
         .Feature__single--textwrap
            h2.Feature__single--title Bieten sie den LiB Fans Software für alle Platformen!
            p.Feature__single--desc Wir bieten ihnen angepasste Browser-Versionen für die mobilen Betriebssysteme Android und iOS an. Eine perfekte Ergänzung zu bereits vorhandenen Apps, oder als Beginn einer Präsenz in Apples AppStore und Googles PlayStore.
         .Feature__single--img
            img(src="images/feature_3.png")

