extend _layout
block body
    .Section
        .content
            h1.Section--title Danke
            p(style="text-align:center;")
               | Ihre Anfrage ist bei uns eingegangen und wird nun von uns verarbeitet.
               br
               | Wir werden Sie umgehend kontaktieren.
               br
               br
               | Viele Grüße,Codeneric GbR - Denis Golovin, Alexander Schwabauer
